.corner{
    color: pink;
    
}
body{
    background-color: rgb(92, 99, 97);
}
.only{
    color: bisque;
    background-color: aquamarine;
}
h3{
    color: rgb(75, 42, 105);
}
ul{
    color: greenyellow;
}
h1{
    color: pink;
}
.id{
    color: blueviolet;
    background-color: bisque;
}
.fi{
    border: 50px ridge rgb(116, 111, 116);
}