.corner{
    color: pink;
    
}
body{
    background-color: rgb(92, 99, 97);
}
.only{
    color: bisque;
    background-color: aquamarine;
}
h3{
    color: rgb(75, 42, 105);
    font-family: 'Rubik', sans-serif;


}
ul{
    color: greenyellow;
    
}
h1{
    color: pink;
    font-family: 'Roboto', sans-serif;
}
.id{
    color: blueviolet;
    background-color: bisque;
}
.fi{
    border: 50px ridge rgb(116, 111, 116);
}
h2{
    font-family: 'Roboto', sans-serif;
}
